<div class="aptry">
  <div class="control-bar">
    <div class="endpoint-selector open">
      <div class="endpoint-selector-label" onclick={{action openDropdown}}>
        {{selectedEndpoint.label}}
      </div>
      {{#if isOpen}}
        <endpoints-dropdown
          @selectedEndpoint={{selectedEndpoint}}
          @onDismiss={{action closeDropdown}}
          @onSelect={{action selectEndpoint}} />
      {{/if}}
    </div>
    <div class="endpoint-path-input">
      <span class="readonly">lcboapi.com/</span>
      <input type="text" value={{currentPath}} oninput={{action pathChanged}} onkeypress={{action keyPressed}}>
    </div>
  </div>
  <div class="console">
    {{#if isFetching}}
      <pre><code>Loading …</code></pre>
    {{else}}
      <pre><code>{{{formattedResponse}}}</code></pre>
    {{/if}}
  </div>
</div>
